*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* html {
    height: 100%;
} */

body {
    width: 100%;
    height: max-content;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.introduction {
    width: 100%;
    text-align: center;
    color: white;
}

#title {
    font-size: 3rem;
}

#survey-form {
    width: 40%;
    background-color: #051937;
    padding: 2rem;
    margin: 0 auto;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.45rem;
    border-radius: 20px;
}

#survey-form p,
#survey-form label {
    color: white;
}

.input_container {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

input[type="text"],
input[type="number"],
input[type="email"],
select {
    height: 2.75rem;
    padding-left: 0.6rem;
}

input[type="submit"] {
    background-color: #37af65;
    border: none;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 0.75rem 0;
}

input[type="submit"]:hover {
    cursor: pointer;
}

textarea {
    padding-left: 0.6rem;
}